Repository oursky/qmk_firmware, pull requests merged in 2022-01, with the labels that each got.

#10 Update set led protocol #chonkerkeys/234
  keyboards/chonkerkeys/command.h
  keyboards/chonkerkeys/command_type.h
  keyboards/chonkerkeys/core.c
  keyboards/chonkerkeys/led_animation_type.h
  keyboards/chonkerkeys/protocol.c
  keyboards/chonkerkeys/protocol.h
Labels: keyboard

#11 RGB strands implemented
  common_features.mk
  drivers/ws2812_strands.h
  keyboards/chonkerkeys/core.c
  keyboards/chonkerkeys/keyconfig.h
  keyboards/chonkerkeys/max/config.h
  keyboards/chonkerkeys/max/keymaps/default/config.c.template
  keyboards/chonkerkeys/max/rules.mk
  keyboards/chonkerkeys/protocol.c
  platforms/avr/drivers/ws2812_strands.c
  quantum/keyboard.c
  quantum/process_keycode/process_rgb_strands.c
  quantum/process_keycode/process_rgb_strands.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/rgb_strands/rgb_strands.c
  quantum/rgb_strands/rgb_strands.h
  quantum/rgb_strands/rgb_strands_post_config.h
Labels: keyboard, keymap, core

#12 Rgb strands new animations and Original
  keyboards/chonkerkeys/max/keymaps/default/config.c.template
  keyboards/chonkerkeys/original/config.h
  keyboards/chonkerkeys/original/keymaps/default/config.c.template
  keyboards/chonkerkeys/original/rules.mk
  quantum/rgb_strands/rgb_strands.c
  quantum/rgb_strands/rgb_strands.h
Labels: keyboard, keymap, core

#13 Move key_strand to keymap.c #chonkerkeys/262
  keyboards/chonkerkeys/max/keymaps/default/config.c.template
  keyboards/chonkerkeys/max/keymaps/default/keymap.c
  keyboards/chonkerkeys/original/keymaps/default/config.c.template
  keyboards/chonkerkeys/original/keymaps/default/keymap.c
Labels: keymap

#14 Fix not using per-layer key_anim #chonkerkeys/262
  keyboards/chonkerkeys/core.c
  keyboards/chonkerkeys/max/keymaps/default/config.c.template
  keyboards/chonkerkeys/original/keymaps/default/config.c.template
Labels: keyboard, keymap

#15 Integrate protocol with rgb strand #chonkekerkeys/262
  keyboards/chonkerkeys/core.c
Labels: keyboard

#16 Add off LED command #chonkerkeys/264
  keyboards/chonkerkeys/core.c
  keyboards/chonkerkeys/led_animation_type.h
  keyboards/chonkerkeys/protocol.c
  keyboards/chonkerkeys/protocol.h
  keyboards/chonkerkeys/protocol.md
Labels: keyboard

#17 Use momentary instead of static for steady #chonkerkeys/264
  keyboards/chonkerkeys/core.c
Labels: keyboard

#18 Use top-right as origin #256
  keyboards/chonkerkeys/core.c
  keyboards/chonkerkeys/gen/gen-config.sh
  keyboards/chonkerkeys/max/config.h
  keyboards/chonkerkeys/max/keymaps/default/config.c.template
  keyboards/chonkerkeys/max/keymaps/default/keymap.c
  keyboards/chonkerkeys/original/config.h
  keyboards/chonkerkeys/original/keymaps/default/config.c.template
  keyboards/chonkerkeys/original/keymaps/default/keymap.c
Labels: keyboard, keymap

#19 Fix LED color and steady impl #270
  keyboards/chonkerkeys/core.c
Labels: keyboard
